#container{
    font-family: Arial, sans-serif ;
    text-align: center;
    font-size: 35px;
    font-weight: bold;

}

button{
    font-size: 25px;
    padding: 10px 15px;
    border-radius: 15px;
    border: none;
    background-color: rgb(65, 129, 212);
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
}
button:hover{
    background-color: rgb(44, 87, 143);
    color: white;
}
button:active{
    background-color: rgb(14, 15, 71);
}
input{
    font-size: 35px;
    width: 100px;
    text-align: center;
    font-weight: bold;
}
#diceResult{
    margin: 25px;
}
#diceImages img{
    width: 100px;
    margin: 5px;
}

